log/*.log
log/
config/database.yml
config/app_config.yml
config/deploy-rubber.rb
config/deploy-webbynode.rb
tmp/**/*
tmp/
.DS_Store
public/cache/**/*
public/cache/
public/system/
public/action_cache/*/*
doc/api
doc/app
db/*.sqlite3
**/tags
db/schema.rb
tags
*.swp
.livereload
