#flash_notice { 
  font-size: 13px;
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}         

#flash_error, #flash_failure {
  font-size: 13px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}

#flash_alert {
  font-size: 13px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
