span.country.AM img {
    background: url("/images/flags.png") no-repeat scroll 0 0 transparent;
}

span.country.AL img {
    background: url("/images/flags.png") no-repeat scroll -26px 0 transparent;
}

span.country.AI img {
    background: url("/images/flags.png") no-repeat scroll -52px 0 transparent;
}

span.country.AG img {
    background: url("/images/flags.png") no-repeat scroll -78px 0 transparent;
}

span.country.AF img {
    background: url("/images/flags.png") no-repeat scroll -104px 0 transparent;
}

span.country.AE img {
    background: url("/images/flags.png") no-repeat scroll -130px 0 transparent;
}

span.country.AD img {
    background: url("/images/flags.png") no-repeat scroll -156px 0 transparent;
}

span.country.AZ img {
    background: url("/images/flags.png") no-repeat scroll -182px 0 transparent;
}

span.country.SX img {
    background: url("/images/flags.png") no-repeat scroll -208px 0 transparent;
}

span.country.AO img {
    background: url("/images/flags.png") no-repeat scroll -234px 0 transparent;
}

span.country.AR img {
    background: url("/images/flags.png") no-repeat scroll -260px 0 transparent;
}

span.country.AS img {
    background: url("/images/flags.png") no-repeat scroll -286px 0 transparent;
}

span.country.AT img {
    background: url("/images/flags.png") no-repeat scroll -312px 0 transparent;
}

span.country.AU img {
    background: url("/images/flags.png") no-repeat scroll -338px 0 transparent;
}

span.country.AW img {
    background: url("/images/flags.png") no-repeat scroll -364px 0 transparent;
}

span.country.AX img {
    background: url("/images/flags.png") no-repeat scroll -390px 0 transparent;
}

span.country.BY img {
    background: url("/images/flags.png") no-repeat scroll 0 -21px transparent;
}

span.country.BW img {
    background: url("/images/flags.png") no-repeat scroll -26px -21px transparent;
}

span.country.BV img {
    background: url("/images/flags.png") no-repeat scroll -52px -21px transparent;
}

span.country.BT img {
    background: url("/images/flags.png") no-repeat scroll -78px -21px transparent;
}

span.country.BS img {
    background: url("/images/flags.png") no-repeat scroll -104px -21px transparent;
}

span.country.BR img {
    background: url("/images/flags.png") no-repeat scroll -130px -21px transparent;
}

span.country.BO img {
    background: url("/images/flags.png") no-repeat scroll -156px -21px transparent;
}

span.country.BN img {
    background: url("/images/flags.png") no-repeat scroll -182px -21px transparent;
}

span.country.BM img {
    background: url("/images/flags.png") no-repeat scroll -208px -21px transparent;
}

span.country.BJ img {
    background: url("/images/flags.png") no-repeat scroll -234px -21px transparent;
}

span.country.BI img {
    background: url("/images/flags.png") no-repeat scroll -260px -21px transparent;
}

span.country.BH img {
    background: url("/images/flags.png") no-repeat scroll -286px -21px transparent;
}

span.country.BG img {
    background: url("/images/flags.png") no-repeat scroll -312px -21px transparent;
}

span.country.BF img {
    background: url("/images/flags.png") no-repeat scroll -338px -21px transparent;
}

span.country.BE img {
    background: url("/images/flags.png") no-repeat scroll -364px -21px transparent;
}

span.country.BD img {
    background: url("/images/flags.png") no-repeat scroll -390px -21px transparent;
}

span.country.BB img {
    background: url("/images/flags.png") no-repeat scroll 0 -42px transparent;
}

span.country.BA img {
    background: url("/images/flags.png") no-repeat scroll -26px -42px transparent;
}

span.country.BZ img {
    background: url("/images/flags.png") no-repeat scroll -52px -42px transparent;
}

span.country.CY img {
    background: url("/images/flags.png") no-repeat scroll -78px -42px transparent;
}

span.country.CZ img {
    background: url("/images/flags.png") no-repeat scroll -104px -42px transparent;
}

span.country.CA img {
    background: url("/images/flags.png") no-repeat scroll -130px -42px transparent;
}

span.country.CAT img {
    background: url("/images/flags.png") no-repeat scroll -156px -42px transparent;
}

span.country.CC img {
    background: url("/images/flags.png") no-repeat scroll -182px -42px transparent;
}

span.country.CD img {
    background: url("/images/flags.png") no-repeat scroll -208px -42px transparent;
}

span.country.CF img {
    background: url("/images/flags.png") no-repeat scroll -234px -42px transparent;
}

span.country.CG img {
    background: url("/images/flags.png") no-repeat scroll -260px -42px transparent;
}

span.country.CH img {
    background: url("/images/flags.png") no-repeat scroll -286px -42px transparent;
}

span.country.CI img {
    background: url("/images/flags.png") no-repeat scroll -312px -42px transparent;
}

span.country.CK img {
    background: url("/images/flags.png") no-repeat scroll -338px -42px transparent;
}

span.country.CL img {
    background: url("/images/flags.png") no-repeat scroll -364px -42px transparent;
}

span.country.CM img {
    background: url("/images/flags.png") no-repeat scroll -390px -42px transparent;
}

span.country.CN img {
    background: url("/images/flags.png") no-repeat scroll 0 -63px transparent;
}

span.country.CV img {
    background: url("/images/flags.png") no-repeat scroll -26px -63px transparent;
}

span.country.CO img {
    background: url("/images/flags.png") no-repeat scroll -364px -63px transparent;
}

span.country.CR img {
    background: url("/images/flags.png") no-repeat scroll -78px -63px transparent;
}

span.country.CS img {
    background: url("/images/flags.png") no-repeat scroll -104px -63px transparent;
}

span.country.CU img {
    background: url("/images/flags.png") no-repeat scroll -130px -63px transparent;
}

span.country.CX img {
    background: url("/images/flags.png") no-repeat scroll -156px -63px transparent;
}

span.country.DZ img {
    background: url("/images/flags.png") no-repeat scroll -182px -63px transparent;
}

span.country.DE img {
    background: url("/images/flags.png") no-repeat scroll -208px -63px transparent;
}

span.country.DJ img {
    background: url("/images/flags.png") no-repeat scroll -234px -63px transparent;
}

span.country.DK img {
    background: url("/images/flags.png") no-repeat scroll -260px -63px transparent;
}

span.country.DM img {
    background: url("/images/flags.png") no-repeat scroll -286px -63px transparent;
}

span.country.DO img {
    background: url("/images/flags.png") no-repeat scroll -312px -63px transparent;
}

span.country.EU img {
    background: url("/images/flags.png") no-repeat scroll -338px -63px transparent;
}

span.country.EC img {
    background: url("/images/flags.png") no-repeat scroll -364px -63px transparent;
}

span.country.EE img {
    background: url("/images/flags.png") no-repeat scroll -390px -63px transparent;
}

span.country.EG img {
    background: url("/images/flags.png") no-repeat scroll 0 -84px transparent;
}

span.country.EH img {
    background: url("/images/flags.png") no-repeat scroll -26px -84px transparent;
}

span.country.ER img {
    background: url("/images/flags.png") no-repeat scroll -78px -84px transparent;
}

span.country.ES img {
    background: url("/images/flags.png") no-repeat scroll -104px -84px transparent;
}

span.country.ET img {
    background: url("/images/flags.png") no-repeat scroll -130px -84px transparent;
}

span.country.FAM img {
    background: url("/images/flags.png") no-repeat scroll -156px -84px transparent;
}

span.country.FI img {
    background: url("/images/flags.png") no-repeat scroll -182px -84px transparent;
}

span.country.FJ img {
    background: url("/images/flags.png") no-repeat scroll -208px -84px transparent;
}

span.country.FK img {
    background: url("/images/flags.png") no-repeat scroll -234px -84px transparent;
}

span.country.FM img {
    background: url("/images/flags.png") no-repeat scroll -260px -84px transparent;
}

span.country.FO img {
    background: url("/images/flags.png") no-repeat scroll -286px -84px transparent;
}

span.country.FR img, span.country.BL img, span.country.MF img {
    background: url("/images/flags.png") no-repeat scroll -312px -84px transparent;
}

span.country.GY img {
    background: url("/images/flags.png") no-repeat scroll -338px -84px transparent;
}

span.country.GA img {
    background: url("/images/flags.png") no-repeat scroll -364px -84px transparent;
}

span.country.GB img {
    background: url("/images/flags.png") no-repeat scroll -390px -84px transparent;
}

span.country.GD img {
    background: url("/images/flags.png") no-repeat scroll 0 -105px transparent;
}

span.country.GE img {
    background: url("/images/flags.png") no-repeat scroll -26px -105px transparent;
}

span.country.GF img {
    background: url("/images/flags.png") no-repeat scroll -52px -105px transparent;
}

span.country.GH img {
    background: url("/images/flags.png") no-repeat scroll -78px -105px transparent;
}

span.country.GI img {
    background: url("/images/flags.png") no-repeat scroll -104px -105px transparent;
}

span.country.GL img {
    background: url("/images/flags.png") no-repeat scroll -130px -105px transparent;
}

span.country.GM img {
    background: url("/images/flags.png") no-repeat scroll -156px -105px transparent;
}

span.country.GN img {
    background: url("/images/flags.png") no-repeat scroll -182px -105px transparent;
}

span.country.GP img {
    background: url("/images/flags.png") no-repeat scroll -208px -105px transparent;
}

span.country.GQ img {
    background: url("/images/flags.png") no-repeat scroll -234px -105px transparent;
}

span.country.GR img {
    background: url("/images/flags.png") no-repeat scroll -260px -105px transparent;
}

span.country.GS img {
    background: url("/images/flags.png") no-repeat scroll -286px -105px transparent;
}

span.country.GT img {
    background: url("/images/flags.png") no-repeat scroll -312px -105px transparent;
}

span.country.GU img {
    background: url("/images/flags.png") no-repeat scroll -338px -105px transparent;
}

span.country.GW img {
    background: url("/images/flags.png") no-repeat scroll -364px -105px transparent;
}

span.country.HT img {
    background: url("/images/flags.png") no-repeat scroll -390px -105px transparent;
}

span.country.HR img {
    background: url("/images/flags.png") no-repeat scroll 0 -126px transparent;
}

span.country.HN img {
    background: url("/images/flags.png") no-repeat scroll -26px -126px transparent;
}

span.country.HM img {
    background: url("/images/flags.png") no-repeat scroll -52px -126px transparent;
}

span.country.HK img {
    background: url("/images/flags.png") no-repeat scroll -78px -126px transparent;
}

span.country.HU img {
    background: url("/images/flags.png") no-repeat scroll -104px -126px transparent;
}

span.country.IS img {
    background: url("/images/flags.png") no-repeat scroll -130px -126px transparent;
}

span.country.IR img {
    background: url("/images/flags.png") no-repeat scroll -156px -126px transparent;
}

span.country.IQ img {
    background: url("/images/flags.png") no-repeat scroll -182px -126px transparent;
}

span.country.IO img {
    background: url("/images/flags.png") no-repeat scroll -208px -126px transparent;
}

span.country.IN img {
    background: url("/images/flags.png") no-repeat scroll -234px -126px transparent;
}

span.country.IL img {
    background: url("/images/flags.png") no-repeat scroll -260px -126px transparent;
}

span.country.IE img {
    background: url("/images/flags.png") no-repeat scroll -286px -126px transparent;
}

span.country.ID img {
    background: url("/images/flags.png") no-repeat scroll -312px -126px transparent;
}

span.country.IT img {
    background: url("/images/flags.png") no-repeat scroll -338px -126px transparent;
}

span.country.JO img {
    background: url("/images/flags.png") no-repeat scroll -364px -126px transparent;
}

span.country.JM img {
    background: url("/images/flags.png") no-repeat scroll -390px -126px transparent;
}

span.country.JP img {
    background: url("/images/flags.png") no-repeat scroll 0 -147px transparent;
}

span.country.KY img {
    background: url("/images/flags.png") no-repeat scroll -26px -147px transparent;
}

span.country.KW img {
    background: url("/images/flags.png") no-repeat scroll -52px -147px transparent;
}

span.country.KR img {
    background: url("/images/flags.png") no-repeat scroll -78px -147px transparent;
}

span.country.KP img {
    background: url("/images/flags.png") no-repeat scroll -104px -147px transparent;
}

span.country.KN img {
    background: url("/images/flags.png") no-repeat scroll -130px -147px transparent;
}

span.country.KM img {
    background: url("/images/flags.png") no-repeat scroll -156px -147px transparent;
}

span.country.KI img {
    background: url("/images/flags.png") no-repeat scroll -182px -147px transparent;
}

span.country.KH img {
    background: url("/images/flags.png") no-repeat scroll -208px -147px transparent;
}

span.country.KG img {
    background: url("/images/flags.png") no-repeat scroll -234px -147px transparent;
}

span.country.KE img {
    background: url("/images/flags.png") no-repeat scroll -260px -147px transparent;
}

span.country.KZ img {
    background: url("/images/flags.png") no-repeat scroll -286px -147px transparent;
}

span.country.LV img {
    background: url("/images/flags.png") no-repeat scroll -312px -147px transparent;
}

span.country.LU img {
    background: url("/images/flags.png") no-repeat scroll -338px -147px transparent;
}

span.country.LT img {
    background: url("/images/flags.png") no-repeat scroll -364px -147px transparent;
}

span.country.LS img {
    background: url("/images/flags.png") no-repeat scroll -390px -147px transparent;
}

span.country.LR img {
    background: url("/images/flags.png") no-repeat scroll 0 -168px transparent;
}

span.country.LK img {
    background: url("/images/flags.png") no-repeat scroll -26px -168px transparent;
}

span.country.LI img {
    background: url("/images/flags.png") no-repeat scroll -52px -168px transparent;
}

span.country.LC img {
    background: url("/images/flags.png") no-repeat scroll -78px -168px transparent;
}

span.country.LB img {
    background: url("/images/flags.png") no-repeat scroll -104px -168px transparent;
}

span.country.LA img {
    background: url("/images/flags.png") no-repeat scroll -130px -168px transparent;
}

span.country.LY img {
    background: url("/images/flags.png") no-repeat scroll -156px -168px transparent;
}

span.country.MY img {
    background: url("/images/flags.png") no-repeat scroll -182px -168px transparent;
}

span.country.MX img {
    background: url("/images/flags.png") no-repeat scroll -208px -168px transparent;
}

span.country.MW img {
    background: url("/images/flags.png") no-repeat scroll -234px -168px transparent;
}

span.country.MV img {
    background: url("/images/flags.png") no-repeat scroll -260px -168px transparent;
}

span.country.MU img {
    background: url("/images/flags.png") no-repeat scroll -286px -168px transparent;
}

span.country.MT img {
    background: url("/images/flags.png") no-repeat scroll -312px -168px transparent;
}

span.country.MS img {
    background: url("/images/flags.png") no-repeat scroll -338px -168px transparent;
}

span.country.MR img {
    background: url("/images/flags.png") no-repeat scroll -364px -168px transparent;
}

span.country.MQ img {
    background: url("/images/flags.png") no-repeat scroll -390px -168px transparent;
}

span.country.MP img {
    background: url("/images/flags.png") no-repeat scroll 0 -189px transparent;
}

span.country.MO img {
    background: url("/images/flags.png") no-repeat scroll -26px -189px transparent;
}

span.country.MN img {
    background: url("/images/flags.png") no-repeat scroll -52px -189px transparent;
}

span.country.MM img {
    background: url("/images/flags.png") no-repeat scroll -78px -189px transparent;
}

span.country.ML img {
    background: url("/images/flags.png") no-repeat scroll -104px -189px transparent;
}

span.country.MK img {
    background: url("/images/flags.png") no-repeat scroll -130px -189px transparent;
}

span.country.MH img {
    background: url("/images/flags.png") no-repeat scroll -156px -189px transparent;
}

span.country.MG img {
    background: url("/images/flags.png") no-repeat scroll -182px -189px transparent;
}

span.country.ME img {
    background: url("/images/flags.png") no-repeat scroll -208px -189px transparent;
}

span.country.MD img {
    background: url("/images/flags.png") no-repeat scroll -234px -189px transparent;
}

span.country.MC img {
    background: url("/images/flags.png") no-repeat scroll -260px -189px transparent;
}

span.country.MA img {
    background: url("/images/flags.png") no-repeat scroll -286px -189px transparent;
}

span.country.MZ img {
    background: url("/images/flags.png") no-repeat scroll -312px -189px transparent;
}

span.country.NU img {
    background: url("/images/flags.png") no-repeat scroll -338px -189px transparent;
}

span.country.NR img {
    background: url("/images/flags.png") no-repeat scroll -364px -189px transparent;
}

span.country.NP img {
    background: url("/images/flags.png") no-repeat scroll -390px -189px transparent;
}

span.country.NO img {
    background: url("/images/flags.png") no-repeat scroll 0 -210px transparent;
}

span.country.NL img, span.country.BQ img {
    background: url("/images/flags.png") no-repeat scroll -26px -210px transparent;
}

span.country.NI img {
    background: url("/images/flags.png") no-repeat scroll -52px -210px transparent;
}

span.country.NG img {
    background: url("/images/flags.png") no-repeat scroll -78px -210px transparent;
}

span.country.NF img {
    background: url("/images/flags.png") no-repeat scroll -104px -210px transparent;
}

span.country.NE img {
    background: url("/images/flags.png") no-repeat scroll -130px -210px transparent;
}

span.country.NC img {
    background: url("/images/flags.png") no-repeat scroll -312px -84px transparent;
}

span.country.NA img {
    background: url("/images/flags.png") no-repeat scroll -182px -210px transparent;
}

span.country.NZ img {
    background: url("/images/flags.png") no-repeat scroll -208px -210px transparent;
}

span.country.OM img {
    background: url("/images/flags.png") no-repeat scroll -234px -210px transparent;
}

span.country.PW img {
    background: url("/images/flags.png") no-repeat scroll -260px -210px transparent;
}

span.country.PT img {
    background: url("/images/flags.png") no-repeat scroll -286px -210px transparent;
}

span.country.PS img {
    background: url("/images/flags.png") no-repeat scroll -312px -210px transparent;
}

span.country.PR img {
    background: url("/images/flags.png") no-repeat scroll -338px -210px transparent;
}

span.country.PN img {
    background: url("/images/flags.png") no-repeat scroll -364px -210px transparent;
}

span.country.PM img {
    background: url("/images/flags.png") no-repeat scroll -390px -210px transparent;
}

span.country.PL img {
    background: url("/images/flags.png") no-repeat scroll 0 -231px transparent;
}

span.country.PK img {
    background: url("/images/flags.png") no-repeat scroll -26px -231px transparent;
}

span.country.PH img {
    background: url("/images/flags.png") no-repeat scroll -52px -231px transparent;
}

span.country.PG img {
    background: url("/images/flags.png") no-repeat scroll -78px -231px transparent;
}

span.country.PF img {
    background: url("/images/flags.png") no-repeat scroll -104px -231px transparent;
}

span.country.PE img {
    background: url("/images/flags.png") no-repeat scroll -130px -231px transparent;
}

span.country.PA img {
    background: url("/images/flags.png") no-repeat scroll -156px -231px transparent;
}

span.country.PY img {
    background: url("/images/flags.png") no-repeat scroll -182px -231px transparent;
}

span.country.QA img {
    background: url("/images/flags.png") no-repeat scroll -208px -231px transparent;
}

span.country.RU img {
    background: url("/images/flags.png") no-repeat scroll -234px -231px transparent;
}

span.country.RS img {
    background: url("/images/flags.png") no-repeat scroll -260px -231px transparent;
}

span.country.RO img {
    background: url("/images/flags.png") no-repeat scroll -286px -231px transparent;
}

span.country.RE img {
    background: url("/images/flags.png") no-repeat scroll -312px -231px transparent;
}

span.country.RW img {
    background: url("/images/flags.png") no-repeat scroll -338px -231px transparent;
}

span.country.SY img {
    background: url("/images/flags.png") no-repeat scroll -364px -231px transparent;
}

span.country.SV img {
    background: url("/images/flags.png") no-repeat scroll -390px -231px transparent;
}

span.country.ST img {
    background: url("/images/flags.png") no-repeat scroll 0 -252px transparent;
}

span.country.SR img {
    background: url("/images/flags.png") no-repeat scroll -26px -252px transparent;
}

span.country.SO img {
    background: url("/images/flags.png") no-repeat scroll -52px -252px transparent;
}

span.country.SN img {
    background: url("/images/flags.png") no-repeat scroll -78px -252px transparent;
}

span.country.SM img {
    background: url("/images/flags.png") no-repeat scroll -104px -252px transparent;
}

span.country.SL img {
    background: url("/images/flags.png") no-repeat scroll -130px -252px transparent;
}

span.country.SK img {
    background: url("/images/flags.png") no-repeat scroll -156px -252px transparent;
}

span.country.SJ img {
    background: url("/images/flags.png") no-repeat scroll -182px -252px transparent;
}

span.country.SI img {
    background: url("/images/flags.png") no-repeat scroll -208px -252px transparent;
}

span.country.SH img {
    background: url("/images/flags.png") no-repeat scroll -234px -252px transparent;
}

span.country.SG img {
    background: url("/images/flags.png") no-repeat scroll -260px -252px transparent;
}

span.country.SE img {
    background: url("/images/flags.png") no-repeat scroll -286px -252px transparent;
}

span.country.SD img {
    background: url("/images/flags.png") no-repeat scroll -312px -252px transparent;
}

span.country.SCO img {
    background: url("/images/flags.png") no-repeat scroll -338px -252px transparent;
}

span.country.SC img {
    background: url("/images/flags.png") no-repeat scroll -364px -252px transparent;
}

span.country.SB img {
    background: url("/images/flags.png") no-repeat scroll -390px -252px transparent;
}

span.country.SA img {
    background: url("/images/flags.png") no-repeat scroll 0 -273px transparent;
}

span.country.SZ img {
    background: url("/images/flags.png") no-repeat scroll -26px -273px transparent;
}

span.country.TW img {
    background: url("/images/flags.png") no-repeat scroll -52px -273px transparent;
}

span.country.TV img {
    background: url("/images/flags.png") no-repeat scroll -78px -273px transparent;
}

span.country.TT img {
    background: url("/images/flags.png") no-repeat scroll -104px -273px transparent;
}

span.country.TR img {
    background: url("/images/flags.png") no-repeat scroll -130px -273px transparent;
}

span.country.TO img {
    background: url("/images/flags.png") no-repeat scroll -156px -273px transparent;
}

span.country.TM img {
    background: url("/images/flags.png") no-repeat scroll -208px -273px transparent;
}

span.country.TN img {
    background: url("/images/flags.png") no-repeat scroll -182px -273px transparent;
}

span.country.TL img {
    background: url("/images/flags.png") no-repeat scroll -234px -273px transparent;
}

span.country.TK img {
    background: url("/images/flags.png") no-repeat scroll -260px -273px transparent;
}

span.country.TJ img {
    background: url("/images/flags.png") no-repeat scroll -286px -273px transparent;
}

span.country.TH img {
    background: url("/images/flags.png") no-repeat scroll -312px -273px transparent;
}

span.country.TG img {
    background: url("/images/flags.png") no-repeat scroll -338px -273px transparent;
}

span.country.TF img {
    background: url("/images/flags.png") no-repeat scroll -364px -273px transparent;
}

span.country.TD img {
    background: url("/images/flags.png") no-repeat scroll -390px -273px transparent;
}

span.country.TC img {
    background: url("/images/flags.png") no-repeat scroll 0 -294px transparent;
}

span.country.TZ img {
    background: url("/images/flags.png") no-repeat scroll -26px -294px transparent;
}

span.country.UY img {
    background: url("/images/flags.png") no-repeat scroll -52px -294px transparent;
}

span.country.US img {
    background: url("/images/flags.png") no-repeat scroll -78px -294px transparent;
}

span.country.UM img {
    background: url("/images/flags.png") no-repeat scroll -104px -294px transparent;
}

span.country.UG img {
    background: url("/images/flags.png") no-repeat scroll -130px -294px transparent;
}

span.country.UA img {
    background: url("/images/flags.png") no-repeat scroll -156px -294px transparent;
}

span.country.UZ img {
    background: url("/images/flags.png") no-repeat scroll -182px -294px transparent;
}

span.country.VN img {
    background: url("/images/flags.png") no-repeat scroll -208px -294px transparent;
}

span.country.VI img {
    background: url("/images/flags.png") no-repeat scroll -234px -294px transparent;
}

span.country.VG img {
    background: url("/images/flags.png") no-repeat scroll -260px -294px transparent;
}

span.country.VE img {
    background: url("/images/flags.png") no-repeat scroll -286px -294px transparent;
}

span.country.VC img {
    background: url("/images/flags.png") no-repeat scroll -312px -294px transparent;
}

span.country.VA img {
    background: url("/images/flags.png") no-repeat scroll -338px -294px transparent;
}

span.country.VU img {
    background: url("/images/flags.png") no-repeat scroll -364px -294px transparent;
}

span.country.WF img {
    background: url("/images/flags.png") no-repeat scroll -390px -294px transparent;
}

span.country.WALES img {
    background: url("/images/flags.png") no-repeat scroll 0 -315px transparent;
}

span.country.WS img {
    background: url("/images/flags.png") no-repeat scroll -26px -315px transparent;
}

span.country.XA img {
    background: url("/images/flags.png") no-repeat scroll -338px 0 transparent;
}

span.country.GG img, span.country.XU img {
    background: url("/images/flags.png") no-repeat scroll -260px -315px transparent;
}

span.country.YE img {
    background: url("/images/flags.png") no-repeat scroll -56px -315px transparent;
}

span.country.YT img {
    background: url("/images/flags.png") no-repeat scroll -78px -315px transparent;
}

span.country.ZM img {
    background: url("/images/flags.png") no-repeat scroll -104px -315px transparent;
}

span.country.ZA img {
    background: url("/images/flags.png") no-repeat scroll -130px -315px transparent;
}

span.country.ZW img {
    background: url("/images/flags.png") no-repeat scroll -156px -315px transparent;
}

span.country.IM img, span.country.XM img {
    background: url("/images/flags.png") no-repeat scroll -182px -315px transparent;
}

span.country.JE img, span.country.XJ img {
    background: url("/images/flags.png") no-repeat scroll -234px -315px transparent;
}

span.country.CW img {
    background: url("/images/flags.png") no-repeat scroll -286px -315px transparent;

}