<h3>About Outcircle</h3>
<p>
Actually this is a website about dream. Usually most of us it is difficult to touch with people in different countries, different culture, different career, different jobs.
</p>

<p>
So I hope Outcircle could help us exchange the world in our eyes, get out the cirlce of us easily, we could easily exchange our different culture, different mind, extend our view, and hope that would help us find our dreams easily.
</p>

<p>
Hope you could enjoy it :)
</p>
<%= twitter_button %>
<%= facebook_like %>
<%= facebook_share %>
<div>
  <%= facebook_fans_page %>
</div>
