<h3>About Outcircle</h3>
<p>
Actually Outcircle is builded for dream, chance and world peace :p. Usually most of us it is difficult to touch with people in different countries, different culture, different career, different jobs. So we don't know each other's standpoint that lead to so much disputes. And sometimes we don't have chance to see how the wide world, we even could not dream.
</p>

<p>
So I hope Outcircle could help us extend out view by all friends, get out the cirlce easily, we could easily exchange our different culture, different mind, and hope that would make our life better.
</p>

<p>
Hope you could enjoy it :)
</p>

<h3>
  How does it work?
</h3>
<ul>
  <li>
    You share a photo to one guy and you will receive at least one back from another friend
  </li>
  <li>
    More you share and more you get
  </li>
</ul>

<%= twitter_button %>
<%= facebook_like %>
<%= facebook_share %>
<div>
  <%= facebook_fans_page %>
</div>
