<% set_meta_tags :title => "Homepage",
  :description => "Outcircle is a free way to make friends all over the world, extend our view, know the different things. Let our eyes travel around this world. Hope you could join us and enjoy it.",
  :keywords => "Outcircle, friends, photos, cluture, around, view, countries, world, foreigner"
%>

<h3>
  What is outcircle for?
</h3>
<p>
Outcircle is a place for <strong>language exchange</strong> and <strong>make friends all over the world</strong>.
</p>
