<h2><%= APP_CONFIG["default_slogan"]%></h2>
<h3>What is Outcircle?</h3>
<p>
  Here allows you to meet random friend in the world.
</p>

<h3>
  How does it work?
</h3>
<ul>
  <li>
    Meet a new friend
  </li>
  <li>
    Share a photo shot by yourself
  </li>
  <li>
    Receive a photo from another friend!
  </li>
</ul>
